.navbar {
    width: 100%;
    height: 80px;
    background-color: #FFFF;
    display: flex;
    flex-direction: row;
    box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
    font-family: Montserrat, serif;
  }
  
  .navbar .leftSide {
    flex: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 0px;
    font-family: Montserrat, serif;
  }

  
  .navbar .leftSide img {
    width: 70%;
    height: 40%;
    font-family: Montserrat, serif;
    
  }
  .navbar .leftSide .hiddenLinks {
    width: 90%;
    font-family: Montserrat, serif;
  }
  
  .navbar .rightSide {
    flex: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Montserrat, serif;
  }

  
  .navbar a {
    color: black;
    text-decoration: none;
    font-family: Montserrat, serif;
    margin: 20px;
  }
  
  .navbar .rightSide button {
    background-color: transparent;
    border: none;
    color: black;
    cursor: pointer;
    font-family: Montserrat, serif;
  }
  
  .navbar .rightSide svg {
    font-size: 40px;
    font-family: Montserrat, serif;
  }
  
  .navbar #open {
    padding-left: 0px;
  }
  .navbar #open img {
    display: none;
  }
  
  .navbar #close img {
    display: inherit;
  }
  
  
  .navbar #open .hiddenLinks {
    display: inherit;
    font-size: 14px;
    margin-left: 20px;
  }

  .navbar #open .hiddenLinks.a {
    display: inherit;
    font-size: 12px;
    margin: 0px;
  }
  
  .navbar #close .hiddenLinks {
    display: none;
  }
  
  .navbar #open a {
    width: 70px;
    margin: 5px;
  }
  
  .navbar #open a {
    width: 70px;
    margin: 5px;
  }
  @media only screen and (max-width: 900px) {
    .navbar .rightSide a {
      width: 70px;
    }
    .navbar .leftSide {
      padding-left: 50px;
    }
  }
  
  @media only screen and (max-width: 600px) {
    .navbar .rightSide a {
      display: none;
    }
  
    .navbar .rightSide {
      justify-content: flex-end;
      padding-right: 50px;
    }
  
    .navbar .rightSide button {
      display: inherit;
    }
  }
  
  @media only screen and (min-width: 600px) {
    .navbar .rightSide button {
      display: none;
    }
  
    .hiddenLinks {
      display: none;
    }
  }